{% extends 'layout.html'%}

{% block content %}
    <section class="header">
        <h1>William Matheny</h1>
        <p>My current goal is to expand my knowledge, so I can one day make a difference.</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="/static/images/FaceShot2.jpg" alt="Headshot of myself">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About Me</h2>
        <p>
            I am a 15 year old web developer. I have been coding for around 4 years now, and I have loved every minute of it.
            I have a huge passion for web development and learning all I can to progress in my career.
            I'm not only a web developer, but I'm a Sophmore in high school, an avid angler, and a lover of all things outdoors.
        </p>
        <p>
            I first started coding in 6th grade. The middle school I attened created a coding club that used the Treehouse program to teach kids to code.
            The coding club later turned into the wvcodingclub which I now attend. I am also vice president of my high school's FBLA chapter,
            and I placed first in West Virginia in the FBLA competition catagory website design.
        </p>
        <a href="/static/images/resume.pdf" download="resume">Download Resume</a>
    </section>
{% endblock %}