{% extends 'layout.html'%}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>If you only do what you can do, you will never be more than who you are.</p>
        <img src="/static/images/FaceShot1.jpg" alt="Headshot of myself">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            I am a 15 year old web developer. I have been coding for around 4 years now, and I have loved every minute of it.
            I have a huge passion for web development and learning all I can to progress in my career.
            I'm not only a web developer, but I'm a Sophmore in high school, an avid angler, and a lover of all things outdoors.
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
                <div id="project1" class="a-project">
                    <a id="GFG" href="{{ url_for('projects_detail', id=project.id) }}">
                        <h3>{{ project.title }}</h3>
                    </a>
                    <p>{{ project.date }}</p>
                    <a href="{{ project.url }}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <h3>Description:</h3>
                    <p>
                        {{ project.description }}
                    </p>
                    <h3>Skills:</h3>
                    <p>
                        {{ project.skills }} 
                    </p>
                </div>
            {% endfor %}
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            If your have any question, comments, or advise 
            please do not hesitate to contact me by email or by instagram.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            willmatheny336@gmail.com
        </p>
    </section>
{% endblock %}